// BOUTON FR/EN

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  &input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

// /* Hide default HTML checkbox */
// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: map-get($colors, dynamic);
    -webkit-transition: .4s;
    transition: .4s;
  }
}


input:checked+.slider {
  background-color: map-get($colors, dark-gray);
}

input:focus+.slider {
  box-shadow: 0 0 1px map-get($colors, dark-gray);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// BOUTON COMPLET

.btn-full {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 35px;
  gap: 10px;
  height: 30px;

  background: rgba(255, 13, 13, 0.85);
  border-radius: 8px;
  color: map-get($colors, primary);
}

//BOUTON FLECHE GAUCHE CARROUSEL
.btn__arrow {
  width: 50px;
  height: 50px;
  background-color: map-get($colors, light-gray);
  position: relative;
  border: none;

  &:hover {
    background-color: map-get($colors, dynamic);
  }

  &--left {
    position: absolute;
    top: 5px;
    left: -7px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px;
    border-color: transparent map-get($colors, primary) transparent transparent;
    z-index: 10;

  }

  &--right {
    position: absolute;
    top: 5px;
    left: 14px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent transparent map-get($colors, primary);
    z-index: 10;
  }
}

// BOUTONS AGENDA

.btns-filters {
  display:flex;
  justify-content:flex-end;
  align-items:flex-start;
}
.btn-filter {
  color:white;
  text-transform:uppercase;
  padding:5px 15px;
  margin: 5px;
  font-family:"Akshar";
  font-size:22px;
  border:none;
  background-color:map-get($colors, dynamic);
}