h3 {
  color:white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 100px;
  position: relative;

  &-flex {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  & ::before {
    content: '';
    position:absolute; /*or absolute*/
    background-image: url('asset/image/egaliseur.svg');
    margin-left: -2px;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
  }
  
}

form {
  width: 60%;
  background-color: black;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(asset/image/ETOILE_BIG.png);
  fill: red;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 20px;
  margin-bottom: 80px;

  
}

.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;


  label {
    text-align: end;
    color: white;
    width: 20%;
    margin-left: 10%;
  }

  input {
    //flex: 1;
    width: 50%;
    border-radius: 10px;
    height: 34px;
    margin-right: 12.5%;
  }
}

.btn-container{
  display: flex;
  justify-content: flex-end;
  & .btn{
    text-transform: uppercase;
    border-radius: 8px;
    background-color: map-get($colors, dynamic);
    height: 36px;
    margin-right: 12.5%;
  }
}



@media screen and (max-width: 640px) {
form{
  display: flex;
  align-items: center;
}

  .formGroup{
    display: contents;
    & label{
      margin: 0;
      margin-bottom: 20px;
    }
    & input {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .btn-container{
    display: contents;
    & .btn {
      margin-right: 0;
      width: 60px;
    }
  }
}
