.wrapper {
  display: grid;
  grid-template-columns: 1fr 2% 1fr;
  grid-template-rows: auto 50px 400px 50px auto;
  margin: 50px 140px;
}

.galerie {
  grid-column: 1 / 3;
  grid-row: 1 /3;
  background-color: aqua;
  z-index: 10;
}

.agenda {
  grid-column: 3;
  grid-row: 1;
}

.soundcloud {
  grid-column: 1;
  grid-row: 3/5;
  background-color: coral;
}

.description_area {
  grid-column: 2/4;
  grid-row: 2/6;
}

.youtube {
  grid-column: 1;
  grid-row: 5;
}